* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  margin: 32px auto;
}

.nav {
  display: flex;
  gap: 40px;
}

.mb-16 {
  margin-bottom: 16px;
}

.profile-img {
  width: 36px;
  height: 36px;
  margin-right: 12px;
  border-radius: 28px;
}
